body { 
	background-color: black;
	margin: 0;
	padding: 0;

 }
 
h1{
	font-family: 'Press Start 2P', cursive;
	color: white;
	font-size: 400%;
	text-align: center;

}

.container {
    display: block;
    margin: auto;
    width: 70%;
    border: solid white 8px;
    border: solid white 8px;
}

.char {
	position: relative;
	border: solid white 4px;
	width: 10%;
	margin: auto;
}

.characterChoose {
	font-family: 'Press Start 2P', cursive;
	color: white;
	font-size: 400%;
	text-align: center;
	width: 60%;
	margin-left: 10%;
	height: 150px;
	padding-top: 2%;
	margin-bottom:3%;
	position: absolute;
}

.characterContain {
	width: 80%;
	height: 500px;
	border: solid white 8px;
	margin-bottom:1%;
	margin-left: 10%;
	display: inline-block;
}

.charName {
	width: 40%;
	height: 70px;
	margin-bottom:1%;
	margin-left: 30%;
	margin-top: 17%;
	display: inline-block;
	font-family: 'Press Start 2P', cursive;
	color: white;
	text-align: center;
	font-size: 200%;
}

.characterBio {
	width: 60%;
	height: 200px;
	
	margin-bottom:1%;
	margin-left: 20%;
	display: inline-block;
	font-family: 'Press Start 2P', cursive;
	color: white;
	font-size: 120%;
	

}

#jones{
	border: solid white 6px;
	margin-left: 12.5%;
}
#beth{
	border: solid white 6px;
} 
#bud {
	border: solid white 6px;
}	
#kid {
	border: solid white 6px;
}
#keg {
	border: solid white 6px;
}
#scotty{
	border: solid white 6px;
}
#sir {
	border: solid white 6px;
}




#jones:hover {
	border: solid #853cf2 6px;
}
#beth:hover {
	border: solid #f268ff 6px;
} 
#bud:hover  {
	border: solid #68ff77 6px;
}	
#kid:hover  {
	border: solid #ff0000 6px;
}
#keg:hover  {
	border: solid #a0a0a0 6px;
}
#scotty:hover {
	border: solid #ffb200 6px;
}
#sir:hover  {
	border: solid #fff200 6px;
}

