body {
  width: 100%;
  background-color: black;
}



.container {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  background-size: cover;
}
 
.gradient {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  animation-name: core;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.gradientflip {
  position: absolute;
  width: 100%;
  margin-left: 100%;
  top: 0;
  left: 0;
  animation-delay: 30s;
  animation-name: flip;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.gradientfirst {
  position: absolute;
  width: 100%;
  margin-left: 0%;
  top: 0;
  left: 0;
  animation-name: first;
  animation-duration: 3000s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

.mountains {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  animation-name: core;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.mountainsflip {
  position: absolute;
  width: 100%;
  margin-left: 100%;
  top: 0;
  left: 0;
  animation-delay: 15s;
  animation-name: flip;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.mountainsfirst {
  position: absolute;
  width: 100%;
  margin-left: 0%;
  top: 0;
  left: 0;
  animation-name: first;
  animation-duration: 1500s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.skyline {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  animation-name: core;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.skylineflip {
  position: absolute;
  width: 100%;
  margin-left: 100%;
  top: 0;
  left: 0;
  animation-delay: 5s;
  animation-name: flip;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.skylinefirst {
  position: absolute;
  width: 100%;
  margin-left: 0%;
  top: 0;
  left: 0;
  animation-name: first;
  animation-duration: 500s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes core {
    from {margin-left: 100%;}
    to {margin-left: -100%;}
}

@keyframes flip {
    from {margin-left: 100%;}
    to {margin-left: -100%;}
}

@keyframes first {
    0% {margin-left: 0%;}
    1% {margin-left: -100%;}
    100% {margin-left: -100%;}
}



.playerplaceholder { 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 10%;
  margin-left: 5%;
}


.playerboard {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.meteor {
  width: 7.5%;
  position: absolute;
  z-index: 8;
  animation-name: meteor;
  animation-duration: 1000s;
  animation-timing-function: linear;

}

.ammo {
  width: 3%;
  position: absolute;
  z-index: 2;
  animation-name: ammo;
  animation-duration: 200s;
  animation-timing-function: linear;
}

@keyframes ammo {
  0% {margin-left: 0%;}
  1% {margin-left: 120%;}
  100% {margin-left: 120%;}
}

@keyframes meteor {
  0% {margin-top: -10%; margin-left: 0%;}
  1% {margin-top: 100%; margin-left: -60%;}
  100% {margin-top: 120%; margin-left: -100%;}
}


/*EVERYTHING BELOW THIS LINE IS FOR THE TITLE PAGE(S)*/




