body { 
	background-color: black;

 }

 a {
    text-decoration: none;
 }

.container {
    display: block;
    margin: auto;
    width: 70%;
    border: solid white 8px;
    background-image: url(../gameimages/backgrounds/mountains.png);

}

.image {
	width: 100%;
	margin-bottom: -15%;
}

.buttonDiv:hover { 
    background-color: white;
    color: black;
    border: 5px solid #41f1f4;
}

.buttonDiv {
    background-color: black;
	position: relative;
	font-family: 'Press Start 2P', cursive;
	color: white;
	display: block;
    margin: 0 auto;
    width: 50%;
    border: solid 5px white;
    text-align: center;
    font-size: 100%;
    padding: 2%;
    margin-bottom: 2%;
}

#play {

}


