.container {

  position: relative;
  top: 0;
  left: 0;
}


.gradient {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  animation-name: gradient;
  animation-duration: 60s;
  animation-timing-function: linear;
}

.mountains {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  animation-name: mountains;
  animation-duration: 20s;
  animation-timing-function: linear;
}

.skyline {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  animation-name: skyline;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.skylineflip {
  position: absolute;
  width: 100%;
  margin-left: 100%;
  top: 0;
  left: 0;
  animation-delay: 5s;
  animation-name: skylineflip;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes skyline {
    from {margin-left: 100%;}
    to {margin-left: -100%;}
}

@keyframes skylineflip {
    from {margin-left: 100%;}
    to {margin-left: -100%;}
}